In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.metrics import confusion_matrix, precision_recall_fscore_support

In [4]:
#loadig data and display it
dataSet=pd.read_csv('PimaIndiansDiabetes.csv')
dataSet.head()

,TimesPregnant,GlucoseConcentration,BloodPrs,SkinThickness,Serum,BMI,DiabetesFunct,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
#display row and column  768 rows 9 columns
print(dataSet.shape)

(768, 9)

In [6]:
#based on  1st 8 features we want to predict the class of patient
#class is dependant variable
#others are dependant

x=dataSet.iloc[:,:-1] # seperating dependant varible from independant
x.head()

,TimesPregnant,GlucoseConcentration,BloodPrs,SkinThickness,Serum,BMI,DiabetesFunct,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [7]:
# store dependan variable in y

y=dataSet.iloc[:,-1:]
y.head()

   Class
0      1
1      0
2      1
3      0
4      1

In [8]:
# check for missing values
print(x.isnull().any())

TimesPregnant           False
GlucoseConcentration    False
BloodPrs                False
SkinThickness           False
Serum                   False
BMI                     False
DiabetesFunct           False
Age                     False
dtype: bool

In [9]:
print(y.isnull().any()) # false means no null value

Class    False
dtype: bool

In [10]:
# summary of dataset
print(x.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 8 columns):
TimesPregnant           768 non-null int64
GlucoseConcentration    768 non-null int64
BloodPrs                768 non-null int64
SkinThickness           768 non-null int64
Serum                   768 non-null int64
BMI                     768 non-null float64
DiabetesFunct           768 non-null float64
Age                     768 non-null int64
dtypes: float64(2), int64(6)
memory usage: 48.1 KB
None

In [11]:
print(y.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 1 columns):
Class    768 non-null int64
dtypes: int64(1)
memory usage: 6.1 KB
None

In [13]:
# split data into traing and testing dataset
#x--> traing test
#y--> train test
x_train, x_test, y_train, y_test= train_test_split(x ,y , test_size=0.20, random_state=0)
# split will be randomly managed by rabddom state

#print size of train and test
print(x_train.shape,
y_train.shape,
x_test.shape,
y_test.shape)

(614, 8) (614, 1) (154, 8) (154, 1)

In [14]:
#from sklearn.preprocessing import Imputer
#fill_missing = Imputer(missing_values=0,strategy='mean',axis=0)
#x_train=fill_missing.fit_transform(x_train)
#x_test=fill_missing.fit_transform(x_test)

#if you encounter missing values

In [33]:

# defining clasifier
classifier=GaussianNB()
classifier.fit(x_train,y_train)
# 2 parameters x_train y_train
# x_train feature
# y_train classes associated with this features

y_pred=classifier.predict(x_test)
# you have to pedict y_pred for the test data you created on the trained machine
# y_pred will contain prediction by our system for x_test data

# now we will check correctness of our predictions
#checking y_pred with y_test


accuracy=metrics.accuracy_score(y_test ,y_pred)

print('accuracy of our model is : {:.2f}% '.format(accuracy*100))

accuracy of our model is : 79.22%

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [24]:
# more comparative accuracy
cm=confusion_matrix(y_test,y_pred)
print('\t  class no \t class yes')
print('class no    ',cm[0][0],'\t  ',cm[0][1])
print('class yes   ',cm[1][0],'\t  ',cm[1][1])

	  class no 	 class yes
class no     93 	   14
class yes    18 	   29

In [30]:
# using confusion matrix we can calcualte precision recll fscore accuracy

print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.84      0.87      0.85       107
           1       0.67      0.62      0.64        47

    accuracy                           0.79       154
   macro avg       0.76      0.74      0.75       154
weighted avg       0.79      0.79      0.79       154

In [31]:
# another way

prf=precision_recall_fscore_support(y_test,y_pred)
print('\t\t\tzero\t\tone')
print('Precision \t:\t',prf[0]*100)
print('Recall \t\t:\t',prf[1]*100)
print('F1 Measure \t:\t',prf[2]*100)
print('Support \t:\t',prf[3]*100)

			zero		one
Precision 	:	 [83.78378378 67.44186047]
Recall 		:	 [86.91588785 61.70212766]
F1 Measure 	:	 [85.32110092 64.44444444]
Support 	:	 [10700  4700]

In [43]:
# printting actual and predcted outcomes
result = pd.DataFrame()
result['actual class']=y_test['Class'].to_list()
result['predicted class']=y_pred.tolist()
result

     actual class  predicted class
0               1                1
1               0                0
2               0                0
3               1                1
4               0                0
..            ...              ...
149             1                0
150             0                0
151             1                0
152             0                0
153             0                0

[154 rows x 2 columns]